

$dark-blue: hsl(209, 23%, 22%);  /*elements*/
$very-dark-bluee: hsl(207, 26%, 17%);   /*background*/
$very-dark-blue: hsl(200, 15%, 8%);  /*text*/

/* light mode  */
$dark-gray: hsl(0, 0%, 52%);   /*input*/
$very-light-gray: hsl(0, 0%, 98%);  /*background*/
$white: hsl(0, 0%, 100%);  /*dark mode text / light mode element*/

