/* main font  */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {

  /* dark mode  */
  --dark-blue: hsl(209, 23%, 22%);  /*elements*/
  --very-dark-bluee: hsl(207, 26%, 17%);   /*background*/
  --very-dark-blue: hsl(200, 15%, 8%);  /*text*/

  /* light mode  */
  --dark-gray: hsl(0, 0%, 52%);   /*input*/
  --very-light-gray: hsl(0, 0%, 98%);  /*background*/
  --white: hsl(0, 0%, 100%);  /*dark mode text / light mode element*/

  /* font family  */
  --font-nunito: 'Nunito Sans', sans-serif;

  /* font weight  */
  --nunito300: 300;
  --nunito600: 600;
  --nunito800: 800;
}

h1, h2, p, span, input, input::placeholder{
  color: var(--white);
}

*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito);
  /* color: var(--white); */
}

body {
  background: var(--very-dark-bluee);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* padding  */

header, .main__container{
  padding: 1.5rem 2.5rem;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue);

  /* border: 1px solid olive; */
}

header h1{
  font-size: 1.5em;
  cursor: pointer;
  /* border: 1px solid olive; */
}

header div{
  display: flex;
  align-items: center;

  /* border: 1px solid olive; */
}

.switchTheme__container button{
  background: none;
  padding: 0.5em;
  cursor: pointer;
  border: none;
  margin-right: 1em;
}

.switchTheme__container button i{
  color: var(--white);
  transform: rotate(-30deg);
}

.bold__text{
  font-weight: var(--nunito600);
  color: var(--white) !important;
}

/* main container  */

.main__container{

  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 6rem;
  width: 100%;
  height: 100%;

  /* border: 1px solid orange; */

}

.main__navigations{
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  /* border: 1px solid pink; */
}

.search__container{

  position: relative;
  height: 100%;

  /* border: 1px solid olive; */
}

.search__container input{
  
  width: 30rem;
  height: 100%;
  padding: 0 1.5rem 0 3.5rem;
  border: none;
  outline: none;
  background: var(--dark-blue);
  font-size: 0.8rem;
  border-radius: 5px;

}


.search__container .search__icon{

  position: absolute;
  top: 12px;
  left: 15px;
  right: 0;

  width: 0;
  color: var(--white);
  font-size: 1.5rem;

  /* border: 1px solid orange; */
}


.filter__container{
  position: relative;

  width: 10rem;

  /* border: 1px solid orange; */

}

.filter__container button{

  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  color: var(--white);
  background: var(--dark-blue);
  border: none;
  text-align: start;
  cursor: pointer;

  /* border: 1px solid orange; */


}

.filter__container .filter__country{

  position: absolute;
  text-align: start;
  
  width: 100%;
  height: 11rem;
  padding: 0.5rem 0 0 0;
  margin-top: 0.5rem;
  text-align: center;

  color: var(--white);
  background: var(--dark-blue);
  border-radius: 5px;
  overflow: hidden;

}

.filter__country button{
  display: flex;
  align-items: center;
  text-align: start;
  height: 2rem;

  /* border: 1px solid orange; */
}

.filter__down-arrow .down-arroww{
  position: absolute;
  right: 15px;
  /* border: 1px solid orange; */
  text-align: end;
}

.main__body{

  /* background-color: var(--dark-blue); */

  display: block;
  height: 100%;
  padding: 5rem 0;

  /* border: 1px solid orange; */

}

.country__container{
  
  display: grid;
  place-items: start;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.5rem;

  width: 100%;

  /* border: 1px solid green; */
}

.country__indi{
  padding: 0;
  background: var(--dark-blue);
  height: 20rem;
  width: 17rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  transition-duration: 0.6s;
  transition-property: all;
  /* border: 1px solid blue; */
}

.country__indi:hover{
  border: 1px solid var(--very-light-gray);
  /* border: 1px solid blue; */
}


.country__indi p{
  
  color: var(--very-light-gray);
  
  /* border: 1px solid blue; */

}

.country__indi img{
  width: 100%;
  height: 45%;

}
.country__information{
  padding: 0.5rem 1.5rem;
}

.country__information h2{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.country__information p{
  font-size: 0.9rem;
  /* margin-bottom: 0.5rem; */
}



.paginationBTN__container{

  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5rem;
}

.paginationBTN__container .paginationButton{

  margin-right: 1rem;
}

.paginationBTN__container .paginationButton button{

    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    background: var(--dark-blue);
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
}

.paginationBTN__container .paginationButton button:hover{

  background: orange;
}


.paginationBTN__container .paginationButton button::selection{

  background: orange;
}