.country__container{
  
    display: grid;
    // place-items: start;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    width: 100%;
    // height: 100%;
  
    // border: 1px solid green; 

    .country__indi{
        padding: 0;
        background: $dark-blue;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        width: 15rem;
        height: 17rem;
      
        transition-duration: 0.6s;
        transition-property: all;
        
        /* border: 1px solid blue; */

        &:hover{
            border: 1px solid $very-light-gray;
          }
    
          img{
            width: 100%;
            height: 45%;
          
          }
      }

      

      .country__information{
        padding: 0.5rem 1.5rem;

        h2{
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }

        p{
            font-size: 0.9rem;
            color: $very-light-gray !important;
            font-weight: $nunito300 !important;

          }
      }
      
  }
  