@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');


/* font family  */
$font-nunito: 'Nunito', sans-serif;

/* font weight  */
$nunito300: 300;
$nunito400: 400;
$nunito600: 600;
$nunito800: 800;