.paginationBTN__container{

    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    // place-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;

    // border: 1px solid orange;

    .paginationButton{
  
        margin-right: 1rem;

        button{
  
            width: 5rem;
            height: 2.5rem;
            border-radius: 5px;
            background: $dark-blue;
            border: 1px solid $white;
            color: $white;
            cursor: pointer;

            &:hover{
                background: $white;
                color: $dark-blue;
            }

            &::selection{
                background: orange;
            }
        }
  }
  
}