.country__details{

    display: flex;
    background: inherit;
    flex-direction: column;
    height: 6rem;
    width: 100%;
    height: 100vh;

    // position: relative;


    .goback{
        position: absolute;
        top: 250px;
        left: 100px;
        background-color: $dark-blue;

        text-align: center;
        width: 8rem;
        padding: 0.5rem;
        border-radius: 5px;

        // border: 1px solid orange;

    }
  
    // border: 1px solid yellow;
  
}

.country__container__indi{

    margin-top: 5rem;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    // border: 1px solid orange;


    img{
        width: 40%;
        height: 50%;

        // border: 1px solid orange;
    }

    .country__details{

        width: 40%;
        height: 50%;
        padding: 2rem;

        // border: 1px solid orange;

        h1{
            font-size: 2rem;
        }

        .country__info{
            display: flex;
            // align-items: center;
            justify-content: space-between;

            margin-top: 2rem;

            // border: 1px solid orange;

            span{
                font-size: 1.2rem;
            }

            p{
                font-size: 1.1rem;
                color: $very-light-gray !important;
                font-weight: $nunito300 !important;
            }
        }
    }

    .border__countries{
        // border: 1px solid orange;

        margin-top: 5rem;


        p{
            background-color: $dark-blue !important;

        }
    }
}